/* menu */
.menu {
  display: flex;
}
/* 
물론 flex-grow로 증가시켜도 되지만 이걸 쓰지 않는 이유는 IE에서 호환이 안되기 때문이다.
그래서 width로 하는 방법을 추천함 
*/
.menu-item {
  /* flex-grow: 1; */
  width: 25%;
  background: gold;
  transition: 0.5s;
}

.menu-item:hover {
  /* flex-grow: 1.5; */
  width: 35%;
  background: crimson;
}

.menu-link {
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: white;
}
